/* General */
:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-color: #2196F3;
    --primary-white-color: #F5F5F5;
    --secondary-white-color:#FFFFFF;
}
.page {
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
       
}
.link, .logo, .project-item{
    text-decoration: none;
}
.list{
padding:0;
margin:0;
list-style: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    outline: 2px solid tomato;
}

/* Header */
.header{
background-color: var(--secondary-white-color);
border: 1px solid #ECECEC;

}
.main-header{
    display: flex;
}
.nav-list{
    display: flex;
    align-items: center;
}
.site-nav{
    display: flex;
}
.site-nav .item:not(:last-child){
    margin-right: 50px;
}
.contacts {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.contacts .item+.item {
    margin-left: 50px;
}

.site-nav .link{
display: block;
color:var(--primary-text-color);
font-weight: 500;
font-size: 14px;
line-height: calc(16/14);
letter-spacing: 0.02em; 
padding-top: 32px;
padding-bottom: 32px;
}
.link.current {
color: var(--accent-color);
}
.site-nav .link:hover, .site-nav .link:focus
{
color:var(--accent-color);

}
.contacts .link {
  display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.02em; 
}

.contacts .link:hover,
.contacts .link:focus {
    color: var(--accent-color);
}
.logo {
    color: var(--primary-text-color);
    font-family: 'Raleway';
     font-style: normal;
     font-weight: 700;
     font-size: 26px;
     line-height: 31px;
     letter-spacing: 0.03em;
     display: block;
     margin-right: 93px;
 }

.logo-color {
     color: var(--accent-color);
 }
 .logo-color-name {
     color: var(--primary-white-color);
 }
 /* Section */
 .hero{
    background-color: #2F303A; 
    text-align: center;
    margin-bottom: 94px;
     } 

 .hero-title{
margin-top: 0;
margin-bottom: 30px;
color: var(--secondary-white-color);
font-weight: 900;
font-size: 44px;
line-height: calc(60/44);
letter-spacing: 0.06em;
text-transform: uppercase;
}
.section{
    padding-bottom:94px;
    
}
.section-title {
    margin-top:0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42/36);
    text-align: center;
    letter-spacing: 0.03em;
}
.title{
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16/14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.benefits-list, .our-work, .our-team{
    display: flex;
    
}
    .benefits-list .item{
        width: 270px;
        margin-right: 30px;
    }
   .benefits-list .item:nth-child(4n) {
       margin-right: 0;
   }

.benefits-description{
color: var(--secondary-text-color);
font-weight: 400;
font-size: 14px;
line-height: calc(24/14);
 letter-spacing: 0.03em;
}

.our-team .item {
    width: 270px;
    margin-right: 30px;
}

.our-team .item:nth-child(4n) {
    margin-right: 0;
}
.team{
    background-color: #F5F4FA;
}
.our-team{
font-size: 16px;
line-height: calc(19/16);
text-align: center;
letter-spacing: 0.03em;
margin-bottom: 30px;
} 

.team-member{
    font-weight: 500;
    margin-bottom: 10px;
}
.profession{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    }

/* Portfolio */

.projects{
    display: flex;
    justify-content: center;
}
.projects .item:not(:last-child) {
    margin-right: 8px;
}
.title-project{
   color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;   
    letter-spacing: 0.06em;
}
.type-project{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
}
.project-list{
    display: flex;
    flex-wrap: wrap;
}
 
.project-list .item{
    width: 370px;
    margin-right: 30px;
}
.project-list .item:nth-child(3n){
margin-right: 0;
}
/* Footer */
address{
    font-style: normal;
}
.footer{
    /* background-color: var(--primary-text-color); */
 
 background-color: tomato;
}
.footer-main .logo, .footer-main .footer-contacts{
margin-left: 215px;

} 

.footer-contacts .link{
color: rgba(255, 255, 255, 0.6);
font-weight: 400;
font-size: 14px;
line-height: 2;
letter-spacing: 0.03em;
}
.footer-contacts .address{
 color: var(--secondary-white-color);  
}
.footer-contacts .link:hover,
.footer-contacts .link:focus {
 color: var(--accent-color);
}
/* Button */
.button {
    color: var(--primary-text-color);
    background-color: var(--secondary-white-color);
    font-size: 16px;
    font-family: inherit;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    
}
.button.hero-button {
    color: var(--primary-white-color);
    background-color: var(--accent-color); 
    font-weight: 700;
    line-height: calc(30/16);
    align-items: center;
    letter-spacing: 0.06em;
   
   
    
}
.button.hero-button:focus,
.button.hero-button:hover {
    background-color: #188CE8;
}
 .button.projects-button{ 
    color:var(--primary-text-color);
    background-color:var(--secondary-white-color) ; 
    font-weight: 500;
    line-height: calc(26/16);
    letter-spacing: 0.03em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 
.button.projects-button:focus,
.button.projects-button:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);
}


